.text-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 8px;
}

.label-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.text-input:active {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 8px;
}